<section class="vh-100" style="background-color: #58b1f0;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://i.pinimg.com/736x/36/3b/52/363b5279e3c22fcfb6ea2de5b5bfec8b.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form>
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <!-- <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> -->
                      <i class="gg-cap" style="font-size:48px;color:rgb(107, 146, 246);margin-right: 10px;"></i>
                      <span class="h1 fw-bold mb-0">ShooterClup</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
  
                    <div class="form-outline mb-4">
                      <input type="email" class="form-control form-control-lg" />
                      <label class="form-label">Email address</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" class="form-control form-control-lg" />
                      <label class="form-label">Password</label>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" style="width:100%   ;" type="button">Login</button>
                    </div>
  
                    <a class="small text-muted" routerLink="/forgotPassword">Forgot password?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a routerLink='/register'
                        style="color: #393f81;">Register here</a></p>
                    <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>