.gg-cap {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 12px;
    border: 2px solid;
    border-bottom-color: transparent;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px
}
.gg-cap::after,
.gg-cap::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-cap::after {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset 12px 0 0 0;
    bottom: -8px;
    width: 18px;
    height: 6px;
    border-radius: 1px;
    left: -2px
}
.gg-cap::before {
    width: 4px;
    height: 4px;
    background: currentColor;
    border-radius: 2px;
    left: 5px;
    top: -4px
}

.input-group{
    position: relative;
}
.input-group__input{
    font: inherit;
    color: #1e1919;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid #1d1818;
    background-color: transparent;
    transition: outline-color 500ms;
}
.input-group__input:is{
    outline-color: #3c50eb;
}
.input-group__label{
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 10px;
    color: #241f1f;
    transition: translate 500ms,
        scale 500ms;
}
.input-group__input:focus +
.input-group__label,
.input-group__input:valid +
.input-group__label{
    padding-inline: 5px;
    translate: 10px 10px;
    scale: .08;
    background-color: #000;
}