      
    <section class="vh-100 " style="background-color: #58b1f0;">
        <div class="card center" >
            <div class="card-header h5 text-white bg-primary">Forgot Password</div>
            <div class="card-body px-5">
                <div class="form-group">
                    <label class="form-label mt-2" for="typeEmail">Email</label>
                    <input type="email" id="typeEmail" class="form-control my-3" />
                </div>
                <a href="#" class="btn btn-primary btn-block w-100">SUBMIT</a>
                <div class="d-flex justify-content-between mt-4">
                    <a class="" href="/login">Login</a>
                    <a class="" href="/register">Register</a>
                </div>
            </div>
        </div>
    </section>